body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: seashell;
}

/** header **/

header {
  display: flex;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  position: fixed;
  z-index: 1;
  width: 98%;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav div {
  padding: 10px;
}



/** main section **/

main {
  display: flex;
  justify-content: center;
  position: relative;
  top: 69px;
}

#mission {
  display: flex;
  background-image: url("../pics/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: black;
  width: 1200px;
  text-align: center;
}

main h2, h4 {
  margin: 10px;
}


/** selection of the month **/

.selection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 69px;
  padding-top: 30px;
  align-items: center;
  width: 1000px;
}

.selection h2, h4 {
  margin: 10px;
}

.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

/** location **/

.location {
  display: flex;
  background-image: url("../pics/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  position: relative;
  top: 69px;
}
