body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

a {
  color: seashell;
}

/** header **/

header {
  display: flex;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

nav {
  display: flex;
}

nav div {
  padding: 10px;
  justify-content: space-around;
}


/** main section **/

main {
  display: flex;
  justify-content: center;
  position: relative;
  top: 69px;
}

#mission {
  display: flex;
  background-image: url("../pics/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: black;
  width: 1200px;
  text-align: center;
}

main h2, h4 {
  margin: 10px;
}
