html {
  font-size: 20px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  line-height: 2rem;
}

a {
  color: seashell;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}



/* header */

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

.header-container {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
   height: 50px;
   margin-left: 10px;
}

nav {
  margin-right: 10px
}

nav li {
  display: inline;
  padding: 0 10px;
}

.dropdown {
  display: none;
}


/* main section */

main {
  display: flex;
  background-image: url("../pics/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 138px;
  position: relative;
  top: 63px;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
}

.banner h2,
.banner h4 {
  margin: 10px;
}


/* selection of the month */

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 69px;
}

.selection-container h2,
.selection-container h4 {
  margin: 10px;
}

.teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  max-width: 30%;
  height: auto;
}

.descrip img {
  max-width: 100%;
  height: auto;
}


/* location */

.location-container {
  background-image: url("../pics/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
	width: 80%;
	height: 500px;
	margin: 0 auto;
	padding-bottom: 30px;
  padding-top: 30px;
}

.location-container h2 {
  margin-bottom: 15px;
}

.locations {
	width: 80%;
	height: 300px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.address {
  background-color: black;
	width: 30.6%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* contact */

.contact {
  height: 200px;
}

.contact h2 {
  margin-top: 10px;
}

/* footer */

footer {
  text-align: left;
  margin-left: 20px;
}



/* media queries */

@media only screen and (max-width: 1024px) {
  .address h3 {
    font-size: 1rem;
  }

  .address p {
    font-size: 0.75rem;
  }
}


@media only screen and (max-width: 768px) {
  .dropdown {
    display: block;
  }

  .nav-desktop {
    display: none;
  }

  .banner h2 {
    font-size: 1rem;
  }

  .banner h4 {
    font-size: 0.8rem;
  }

  .teas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .descrip {
    max-width: 100%;
    height: auto;
  }

  .locations {
    width: 80%;
    height: auto;
  	margin: auto;
  	display: flex;
    flex-direction: column;
  	justify-content: space-between;
  }

  .address {
  	width: 100%;
  	height: 100%;
    margin: 0;
    padding: 0.1rem;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
    background-color: hsla(0, 0%, 0%, 0.8);
  }

  .address h3 {
    font-size: 0.85rem;

  }
  .address p {
    font-size: 0.65rem;
    line-height: 1rem;
  }

  /* dropdown menu */
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0.8rem;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
  }
}


@media only screen and (max-width: 480px) {
  .contact h2 {
    font-size: 17px;
  }

  .contact h5 {
    font-size: 14px;
  }

 footer h5 {
   font-size: 12px;
 }
}
